---
import Link from "../icons/Link.astro";
import Regroup from "../icons/Regroup.astro";
---

<div class="mt-4 flex">
  <button
    id="random"
    class="border-2 border-grayOne py-1 px-2 rounded-l-2xl"
    ><Regroup width={35} /></button
  >
  <button
    id="copy"
    class="border-2 border-grayOne py-1 px-2 rounded-r-2xl"
    ><Link width={35} /></button
  >
</div>
